
  

#login-body {
    color: whitesmoke;
    background-color: black;
}

#dashboard-body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Play', sans-serif;

}

#settings-body {
  color: whitesmoke;
  position: relative;
  font-family: 'Play', sans-serif;
  background-color: black;
}

#home-body {
  color: whitesmoke;
  font-family: 'Play', sans-serif;
  text-align: center;
  background-color: black;
}

#login-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#settings-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#dashboard-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#home-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}


#launch-btn {
  width: 100%;
  height: 100px;
  font-size: 200%;
  margin-top: 50%;
  color: black;
  font-family: 'Orbitron', sans-serif;
}


.navbar{
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 2px;
}


#logo {
  height:50px;
  margin-left: 40%;
}


#list-example {
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  float: left;

}

#list-content {
  height: 300px;
  width: 100%;
  overflow-y: scroll;
  float: left;
  background-color:bisque;
  opacity: 0.9;
  color:red;
  border-style: solid;
  border-width: 2px;
  border-color: steelblue;
  border-radius: 3px;
}

.list-text {
  color:black;
}

.list-group-item {
  background-color:bisque;
  opacity: 0.9;
  border-style: solid;
  border-width: 2px;
  border-color: steelblue;
  border-radius: 3px;
}

#twitter-box {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: steelblue;
  border-radius: 3px;
}

#map {
 width: 100%;
 height: 600px;

 }


#save-btn {
  margin-top: 10px;
}

#rocket-feed{
  width: 100%;
  height: 100%;
}

#rocket-card {
border-style: solid;
border-width: 3px;
border-color: steelblue;
}

.card-deck{
  margin: 0 auto;
}

.card{
  color: black;
  max-height: 500px;
  max-width: 300px;
}

.card-img-top{
  height: 50%;
  object-fit: cover;

}

#load-more-btn{
  float: right;
}

svg{
  margin: 0 auto;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video-login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  #settings-body {
    background-image: url("https://www.universetoday.com/wp-content/uploads/2009/09/SED_wall_1920x1200.jpg ");
  }
  #home-body {
    background-image: url("https://wallpapercave.com/wp/wp2376722.jpg");
  }
  #dashboard-body {
    background-image: url("https://wallpapercave.com/wp/wp2376722.jpg");
  }
  .fullscreen-bg__video {
      display: none;
  }
}

/* https://www.universetoday.com/wp-content/uploads/2009/09/SED_wall_1920x1200.jpg
https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BloSxjK/beginning-with-a-spinning-earth-in-space-then-zooming-out-to-reveal-the-moon-the-sun-and-then-the-entire-spinning-milky-way-galaxy_e1_at4ayg__F0000.png
https://wallpapercave.com/wp/wp2376722.jpg */
/* .card-body{ 
  color: black;
  background-color: bisque;
  height: 100%;
  border-left-style: solid;
  border-width: 2px;
  border-color: steelblue;
}

.card-deck {
  margin-right: 5%;
  margin-left: 5%;
}

#main-card{
  width: 100%;
} */


/* font-family: 'Orbitron', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Play', sans-serif; */


/* #launch-btn:hover{
  width: 120%;
  height: 120px;
} */

