
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color:rgb(32, 32, 32);
    color: white;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    margin-top: 20px;
  }

#login-body {
    color: whitesmoke;
    background-color: black;
}

#dashboard-body {
  background-color: black;
  color: whitesmoke;
  font-family: 'Play', sans-serif;
  text-align: center;

}

#settings-body {
  color: whitesmoke;
  position: relative;
  font-family: 'Play', sans-serif;
  background-color: black;
}

#exampleModal {
  color: black;
}

#modal-btn {
  color: black;
}


#home-body {
  color: whitesmoke;
  font-family: 'Play', sans-serif;
  text-align: center;
  background-color: black;
}

#login-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#settings-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#dashboard-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}

#home-btn-active {
  color: rgb(245,60,32);
  background-color: white;
  border-color:rgb(245,60,32);
  border-width: 2px;
}


#launch-btn {
  width: 100%;
  height: 100px;
  font-size: 200%;
  margin-top: 50%;
  color: black;
  font-family: 'Orbitron', sans-serif;
}


.navbar{
  background-color: black;
  font-family: 'Orbitron', sans-serif;
  padding-bottom: 2px;
}


#logo {
  height:50px;
  margin-left: 40%;
}


#list-example {
  height: 100%;
  width: 30%;
  overflow-y: scroll;
  float: left;

}

#list-content {
  height: 250px;
  width: 100%;
  overflow-y: scroll;
  float: left;
  background-color:bisque;
  opacity: 0.9;
  color: blue;
  border-style: solid;
  border-width: 2px;
  border-color: red;
  border-radius: 3px;
  margin-top: 10px;
}

.list-text {
  color:black;
}

.list-group-item {
  background-color:bisque;
  opacity: 0.9;
  border-style: solid;
  border-width: 2px;
  border-color: steelblue;
  border-radius: 3px;
}

#launch-name {
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
  margin-bottom: 30px;
}

#twitter-header {
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;

}

#selected-name {
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

#pad-select-header {
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
  text-align: center;

}

#twitter-box1 {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  border-radius: 3px;
  margin-bottom: 100px;
}

#twitter-box2 {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  border-radius: 3px;
  margin-bottom: 100px;
}

#map {
 width: 100%;
 height: 600px;

 }


#save-btn {
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 35%;
  margin-right: 30%;
}

#rocket-feed{
  width: 100%;
  height: 100%;
}

#rocket-card {
border-style: solid;
border-width: 3px;
border-color: steelblue;
overflow-y: scroll;
}

/* #rocket-image {
  height: auto;
} */

.card-deck{
  margin: 0 auto;
  margin-bottom: 100px;
  margin-left: 20%;
  margin-right: 20%;
}

.card-title {
  background-color: skyblue;
  margin-bottom: 0px;
  text-align: center;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: steelblue;
}

.card-text {
  background-color: white;
  margin-bottom: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  border-radius: 3px;
}


.card{
  color: black;
  max-height: 400px;
  max-width: 300px;
}

.card-img-top{
  height: 100%;
  object-fit: cover;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
}

#load-more-btn{
  float: right;
}

svg{
  margin: 0 auto;
}


.card-footer {
  margin-top: 40px;
  height: 40px;
  text-align: center;
  background-color: black;
}


#load-more-btn{
  float: right;
}

svg{
  margin: 0 auto;
  /* max-height: 100px;
  max-width: 100px; */
  /* display: block;
  position: absolute; */
  width: 100%;
  height: 100%;
}

#map{
  border: 2px solid red;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  /* width: auto; */
  overflow: hidden;
  /* display: block; */
}

/* This CSS is for the video backgrounds */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video-login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  #settings-body {
    background-image: url("https://www.universetoday.com/wp-content/uploads/2009/09/SED_wall_1920x1200.jpg ");
  }
  #home-body {
    background-image: url("https://wallpapercave.com/wp/wp2376722.jpg");
  }
  #dashboard-body {
    background-image: url("https://wallpapercave.com/wp/wp2376722.jpg");
  }
  .fullscreen-bg__video {
      display: none;
  }
}
/* font-family: 'Orbitron', sans-serif;
font-family: 'VT323', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Play', sans-serif; */


.card-img-top:hover{
  opacity: 0.8;
  cursor: pointer;
}

#remove{
  width:20px;
  position: absolute;
  top:-8px;
  right:-8px;
  z-index:2;
}